builds
host-builds
host-pkgs
pkgs
sources
sysroot
initramfs.tar
gwm/**/*.o
gwm/gwm
gcon/**/*.o
gcon/gcon
gwm-bootstrap/**/*.o
gwm-bootstrap/gwmbootstrap
serial_shim/**/*.o
serial_shim/serial_shim
gloire.iso
iso_root
bochsout.txt
bx_enh_dbg.ini
